---
import video from "../public/final_720.mp4";
import Navigation from "../../components/global/Navigation.astro";
---

<section class="overflow-hidden">
  <div class="group relative w-full min-h-dvh flex items-center justify-center">
    <div class="relative flex items-center justify-center h-screen overflow-hidden">
      <video class="w-screen" playsinline loop="loop" preload="auto" autoplay="autoplay" src={video}></video>
    </div>
  </div>

  <div class="px-8 pt-10 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="max-w-2xl text-center mx-auto lg:text-balance">
      <p class="text-sm leading-normal font-bold text-accent-900">
        Bienvenido al congreso de CTI más grande del 2026 en Panamá
      </p>
      <h2
        class="text-xl leading-tight tracking-tight sm:text-2xl md:text-3xl lg:text-4xl mt-2 font-semibold text-base-900"
      >
        X Congreso de Ingeniería Ciencia y Tecnología IESTEC 2026
      </h2>
      <p class="text-base leading-normal mt-4 text-base-500 font-medium">
        10th International Congress of Engineering, Science and Technology IESTEC 2026.
      </p>
    </div>
  </div>
</section>
