---
import video from "../public/final_720.mp4";
---

<section class="overflow-hidden">
  <div class="group relative w-full min-h-dvh flex items-center justify-center">
    <video class="absolute inset-0 w-full h-full object-cover" playsinline loop="loop" preload="auto" autoplay="autoplay" src={video}></video>
    <div class="relative z-10 flex items-center justify-center h-full">
      <div class="px-8 pt-10 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
        <div class="text-center mx-auto lg:text-balance">
          <p class="text-md lg:text-2xl leading-none text-gray-300">
            El congreso de CTI más grande del 2026 en Panamá celebra su décima edición
          </p>
          <h2
            class="text-xl leading-none tracking-tight sm:text-2xl md:text-3xl lg:text-6xl mt-2 font-bold text-white "
          >
            X Congreso de Ingeniería Ciencia y Tecnología IESTEC 2026
          </h2>
          <div class="flex items-center justify-center lg:pt-8 gap-8">
            <img src="public/utp-logo-justificado-blanco.svg" alt="Logo" class="h-14"/>
            <img src="public/logo-senacyt-blanco.svg" alt="Logo" class="h-10"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4 lg:grid-cols-6">
    <div class="md:col-span-2 md:row-span-2">
      <img
        src="public/fotos/IMG_9434.jpg"
        alt="#_"
        loading="lazy"
        decoding="async"
        fetchpriority="auto"
        width="500"
        height="500"
        class="object-cover object-top size-full lg:h-60"
      />
    </div>
    <div class="md:row-span-2">
      <img
        src="public/fotos/IMG_9410.jpg"
        alt="#_"
        loading="lazy"
        decoding="async"
        fetchpriority="auto"
        width="500"
        height="500"
        class="object-cover object-top size-full lg:h-60"
      />
    </div>
    <div class="md:row-span-3 lg:row-span-2">
      <img
        src="public/fotos/IMG_0139.jpg"
        alt="#_"
        loading="lazy"
        decoding="async"
        fetchpriority="auto"
        width="500"
        height="500"
        class="object-cover object-top size-full lg:h-60"
      />
    </div>
    <div class="md:col-span-2 md:row-span-2">
      <img
        src="public/fotos/IMG_9262.jpg"
        alt="#_"
        loading="lazy"
        decoding="async"
        fetchpriority="auto"
        width="500"
        height="500"
        class="object-cover object-top size-full lg:h-60"
      />
    </div>
    <div class="md:row-span-2 lg:col-span-2">
      <img
        src="public/fotos/IMG_0869.jpg"
        alt="#_"
        loading="lazy"
        decoding="async"
        fetchpriority="auto"
        width="500"
        height="500"
        class="object-cover object-top size-full"
      />
    </div>
    <div class="order-first p-18 text-center lg:col-span-2 lg:order-none">
      <h2
        class="text-xl sm:text-xl md:text-2xl font-semibold tracking-tight text-zinc-900 dark:text-white sm:text-balance"
      >
        +1300 participantes
      </h2>
      <p
        class="text-sm mt-2 font-medium text-zinc-500 dark:text-zinc-400 sm:text-balance"
      >
        Estudiantes, académicos, profesionales y empresas convergen en IESTEC cada dos años. Para compartir los avances más recientes en cuanto a Ciencia, Tecnología e Innovación.
      </p>
    </div>
    <div class="md:col-span-2">
      <img
        src="public/fotos/IMG_9285.jpg"
        alt="#_"
        loading="lazy"
        decoding="async"
        fetchpriority="auto"
        width="500"
        height="500"
        class="object-cover object-top size-full lg:h-80"
      />
    </div>
    <div class="md:col-span-4">
      <img
        src="public/fotos/IMG_9433.jpg"
        alt="#_"
        loading="lazy"
        decoding="async"
        fetchpriority="auto"
        width="500"
        height="500"
        class="object-cover object-top size-full lg:h-80"
      />
    </div>
  </div>
   
</section>
