---
import BaseLayout from "../layouts/BaseLayoutContent.astro";
---
<BaseLayout>
    <div class="px-8 py-20 mx-auto md:px-12 xl:w-3/4 mt-16 xl:mt-18">
        <div class="max-w-3xl">
            <span class="inline-flex items-center font-medium relative text-amber-600 bg-amber-600/10 px-4 py-1.5 text-sm rounded-lg">Importante</span>
            <h2
              class="mt-2 text-2xl md:text-3xl lg:text-5xl font-semibold tracking-tight text-zinc-900 text-balance"
            >
              Fechas para Autores
            </h2>
            <p class="text-base mt-2 font-medium text-zinc-500">
              Explora el paso a paso desde hoy hasta que presentes tu manuscrito en IESTEC 2026.
            </p>
          </div>
          <ol
            class="h-full mt-12 border-l md:grid lg:grid-cols-4 md:gap-6 md:border-l-0 md:border-t border-zinc-100"
          >
            <li>
              <div class="flex items-center pt-2 md:block md:pt-0">
                <div
                  class="-ml-[5px] mr-3 h-[9px] w-[9px] rounded-full outline-2 outline-zinc-100 bg-zinc-100 md:-mt-[5px] md:ml-0 md:mr-0"
                ></div>
              </div>
              <div class="mt-4 ml-4 md:ml-0 lg:mr-4">
                <div>
                  <p class="text-sm relative font-semibold uppercase tracking-wide text-zinc-500">30 de marzo de 2026</p>
                  <h3 class="text-base mt-8 font-semibold tracking-tight text-zinc-900">
                    Recepción de artículos y pósteres
                  </h3>
                  <p class="text-base mt-2 text-zinc-500 lg:text-balance">
                    A partir de esta fecha nuestra plataforma de recepción de artículos y pósteres estará abierta para recibir el trabajo de aquellos autores interesados.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="flex items-center pt-2 md:block md:pt-0">
                <div
                  class="-ml-[5px] mr-3 h-[9px] w-[9px] rounded-full outline-2 outline-zinc-100 bg-zinc-100 md:-mt-[5px] md:ml-0 md:mr-0"
                ></div>
              </div>
              <div class="mt-4 ml-4 md:ml-0 lg:mr-4">
                <div>
                  <p class="text-sm relative font-semibold uppercase tracking-wide text-zinc-500">3 de julio de 2026</p>
                  <h3 class="text-base mt-8 font-semibold tracking-tight text-zinc-900">
                    Cierre de recepción de artículos y pósteres
                  </h3>
                  <p class="text-base mt-2 text-zinc-500 lg:text-balance">
                    Último día para subir a la plataforma su trabajo de póster o artículo.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="flex items-center pt-2 md:block md:pt-0">
                <div
                  class="-ml-[5px] mr-3 h-[9px] w-[9px] rounded-full outline-2 outline-zinc-100 bg-zinc-100 md:-mt-[5px] md:ml-0 md:mr-0"
                ></div>
              </div>
              <div class="mt-4 ml-4 md:ml-0 lg:mr-4">
                <div>
                  <p class="text-sm relative font-semibold uppercase tracking-wide text-zinc-500">24 de agosto de 2026</p>
                  <h3 class="text-base mt-8 font-semibold tracking-tight text-zinc-900">
                    Notificación de artículos y pósteres aceptados
                  </h3>
                  <p class="text-base mt-2 text-zinc-500 lg:text-balance">
                    Los autores serán contactados para conocer si su trabajo ha sido aceptado en el congreso IESTEC.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="flex items-center pt-2 md:block md:pt-0">
                <div
                  class="-ml-[5px] mr-3 h-[9px] w-[9px] rounded-full outline-2 outline-zinc-100 bg-zinc-100 md:-mt-[5px] md:ml-0 md:mr-0"
                ></div>
              </div>
              <div class="mt-4 ml-4 md:ml-0 lg:mr-4">
                <div>
                  <p class="text-sm relative font-semibold uppercase tracking-wide text-zinc-500">18 de septiembre de 2026</p>
                  <h3 class="text-base mt-8 font-semibold tracking-tight text-zinc-900">
                    Recepcion de versión final de artículos y pósteres.
                  </h3>
                  <p class="text-base mt-2 text-zinc-500 lg:text-balance">
                    Aquellos autores que cuyos trabajos hayan sido aceptados tendrán hasta esta fecha para subir su versión final.
                  </p>
                </div>
              </div>
            </li>
          </ol>                   
    </div>
    
    <div class="max-w-xl mx-auto text-center lg:text-balance">
        <h2
          class="text-3xl md:text-3xl lg:text-5xl font-semibold tracking-tight text-zinc-900 lg:text-balance"
        >
          ¿Listo/a para ser autor/a de IESTEC 2026?
        </h2>
        <p class="text-sm mt-4 text-zinc-500 lg:text-balance">
          IESTEC es una conferencia internacional multidisciplinaria que reúne a cientos de académicos, estudiantes, investigadores y profesionales de diversas disciplinas de la ingeniería y las ciencias aplicadas.
        </p>
      </div>
      <dl
        class="max-w-7xl mx-auto mt-10 mb-10 text-left grid grid-cols-1 md:grid-cols-2 gap-2"
      >
        <!--Card artículos -->      
        <div
          class="p-8 bg-linear-180 outline outline-zinc-100 from-zinc-50 to-zinc-100 rounded-xl"
        >
          <div>
            <dt>
              <h3
                class="text-lg md:text-xl font-semibold tracking-tight text-zinc-900"
              >
                Artículos de Conferencia
              </h3>
            </dt>
            <dd>
              <p class="text-base mt-2 text-zinc-600">
                Invitamos a presentar artículos con contribuciones originales e inéditas de interés práctico y/o teórico que aborden cualquiera de nuestras <a href="/areastematicas" class="text-blue-600">áreas temáticas.</a>
              </p>

              <p class="text-base mt-2 text-zinc-600">
                Todos los trabajos completos del congreso, revisados ​​por pares y presentados presencialmente, se enviarán para su publicación en IEEE Xplore.
              </p>

              <p class="text-base mt-2 text-zinc-600">
                El congreso incluirá sesiones magistrales, conferencias de ponencias, sesiones de pósteres, simposios, foros de expertos y conferencias técnicas. Agradecemos su apoyo para promover este importante congreso internacional entre sus colegas y para el envío de trabajos académicos.
              </p>
              
              <p class="text-base mt-2 text-zinc-600">
                Su presencia en este congreso es importante para nosotros. Esperamos verlo en IESTEC 2026 en Panamá.
              </p>

              <p class="text-base mt-2 text-zinc-600">
                El sitio para el envío de trabajos estará disponible próximamente.
              </p>
            </dd>
            <dd class="pt-4 mt-4 border-t border-zinc-200">
              <p class="text-base font-bold mt-2 text-gray-700">
                Lineamientos
              </p>
              <p class="text-sm text-zinc-500 mt-2">
                Asegúrese de que todos los artículos sean revisados ​​y verificados antes de su envío. No se podrán realizar cambios importantes durante el proceso de revisión. Si se aceptan, se podrán realizar revisiones menores antes del envío final.
              </p>

              <ul class="list-disc text-sm text-zinc-500 ms-4 mt-2">
                <li>El contenido del trabajo debe ser original y relevante para uno de los temas de la conferencia.</li>
                <li>Los trabajos deben ser inéditos y no haber sido enviados a ninguna otra plataforma.</li>
                <li>Los trabajos deben estar en inglés o español, con una extensión máxima de 6 páginas y deben seguir el formato de la plantilla descargable.</li>
                <li>Los trabajos enviados en español deben incluir el título, el resumen y las palabras clave en inglés.</li>
                <li>Los autores deben garantizar la precisión de las citas, referencias, diagramas, mapas y tablas.</li>
                <li>Las figuras y tablas deben ubicarse en el texto donde aparecerán y deben ser claras y fáciles de visualizar (alta definición).</li>
                <li>Los trabajos deben enviarse en formato WORD sin la información de los autores, a través de la plataforma (enlace).</li>
                <li>Los trabajos serán evaluados por un Comité Técnico; su revisión será de su exclusiva responsabilidad y sus decisiones serán inapelables.</li>
                <li>Los trabajos aceptados y presentados formarán parte de las Actas de IESTEC 2026 enviadas a IEEE Xplore®.</li>
              </ul>
              </p>
            </dd>
            <dd class="pt-4 mt-4 border-t border-zinc-200">
              <p class="text-sm text-zinc-500">
                Las decisiones de aceptación considerarán la relevancia del artículo, el contenido técnico y el rigor científico, la novedad, la calidad del manuscrito y la presentación, redacción y claridad del manuscrito.
              </p>
            </dd>
          </div>
          <a href="public/docs/iestec_2026_paper_template.docx" download class="btn mt-4 relative flex items-center text-center font-medium transition-colors duration-200 ease-in-out select-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:z-10 justify-center rounded-xl text-white bg-blue-700 outline outline-blue-700 hover:bg-blue-600 focus-visible:outline-blue-600 h-10 px-5 text-sm shrink-0 w-fit">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5 me-1">
              <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-.53 14.03a.75.75 0 0 0 1.06 0l3-3a.75.75 0 1 0-1.06-1.06l-1.72 1.72V8.25a.75.75 0 0 0-1.5 0v5.69l-1.72-1.72a.75.75 0 0 0-1.06 1.06l3 3Z" clip-rule="evenodd" />
            </svg>
            Descargar plantilla para artículos
          </a>
        </div>
        <!-- Card poster -->
        <div
          class="p-8 bg-linear-180 outline outline-zinc-100 from-zinc-50 to-zinc-100 rounded-xl"
        >
          <div>
            <dt>
              <h3
                class="text-lg md:text-xl font-semibold tracking-tight text-zinc-900"
              >
                Pósteres de Conferencia
              </h3>
            </dt>
            <dd>
              <p class="text-base mt-2 text-zinc-600">
                Invitamos a presentar pósteres con contribuciones originales e inéditas de interés práctico y/o teórico que aborden cualquiera de nuestras <a href="/areastematicas" class="text-blue-600">áreas temáticas.</a>
              </p>

              <p class="text-base mt-2 text-zinc-600">
                IESTEC 2026 también incluirá una sección de pósteres y se solicitan pósteres técnicos que presenten investigaciones innovadoras y originales. Además, IESTEC está interesada en pósteres de tecnología, con especial atención a trabajos en curso, próximos retos de investigación y nuevas direcciones en los temas de la conferencia.
              </p>

              <p class="text-base mt-2 text-zinc-600">
                El sitio para el envío de pósteres estará disponible próximamente.
              </p>
              <ul class="list-disc text-zinc-600 ms-4 mt-4">
                <li>Para que el póster aparezca en el Programa y las Actas del Congreso, es necesario que uno de los autores se haya inscrito en el congreso y lo presente presencialmente.</li>
                <li>Los pósteres deben ser inéditos y no haber sido enviados a ninguna otra publicación.</li>
                <li>El contenido del póster debe ser original y relevante para uno de los múltiples temas del congreso.</li>
                <li>Los autores deben garantizar la precisión de las citas, referencias, diagramas, mapas y tablas.</li>
                <li>Las figuras y tablas deben ubicarse en el texto donde aparecerán y deben ser claras y fáciles de visualizar (alta definición).</li>
                <li>Los pósteres deben estar en inglés o español en formato póster de congreso: el material puede ser papel o vinilo y el tamaño es A0 vertical (84,1 cm x 118,9 cm / 33,1 pulgadas x 46,81 pulgadas).</li>
              </ul>
            </dd>
            <dd class="pt-4 mt-4 border-t border-zinc-200">
              <p class="text-base font-bold mt-2 text-gray-700">
                Lineamientos
              </p>

              <ul class="list-disc text-sm text-zinc-500 ms-4 mt-2">
                <li>Para los pósteres, los autores deben enviar un resumen de 500 palabras.</li>
                <li>Los resúmenes deben estar en inglés o español y seguir el formato de la plantilla descargable.</li>
                <li>Asegúrese de revisar y verificar la exactitud de su resumen antes de enviarlo.</li>
                <li>Los resúmenes serán evaluados por un Comité Técnico; su revisión será de su exclusiva responsabilidad y sus decisiones serán inapelables.</li>
                <li>El contenido debe ser inédito y no haber sido enviado a ninguna otra plataforma.</li>
                <li>El contenido debe ser original y relevante para alguno de los temas de la conferencia.</li>
                <li>Los resúmenes deben enviarse en formato WORD o PDF sin la información de los autores, a través de la plataforma (enlace).</li>
              </ul>
              </p>
            </dd>
          </div>
          <dd class="pt-4 mt-4 border-t border-zinc-200">
            <p class="text-sm text-zinc-500">
              Las decisiones de aceptación considerarán la relevancia del trabajo, el contenido técnico y el rigor científico y la calidad del resumen.
            </p>
          </dd>
          <a href="public/docs/iestec_2026_poster_template.docx" download class="btn mt-4 relative flex items-center text-center font-medium transition-colors duration-200 ease-in-out select-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:z-10 justify-center rounded-xl text-white bg-blue-700 outline outline-blue-700 hover:bg-blue-600 focus-visible:outline-blue-600 h-10 px-5 text-sm shrink-0 w-fit">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5 me-1">
              <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-.53 14.03a.75.75 0 0 0 1.06 0l3-3a.75.75 0 1 0-1.06-1.06l-1.72 1.72V8.25a.75.75 0 0 0-1.5 0v5.69l-1.72-1.72a.75.75 0 0 0-1.06 1.06l3 3Z" clip-rule="evenodd" />
            </svg>
            Descargar plantilla para póster
          </a>
        </div>
      </dl>
</BaseLayout>