---
import BaseLayout from "../layouts/BaseLayoutContent.astro";
---
<BaseLayout>
    <div class="px-8 py-20 mx-auto md:px-12 xl:w-3/4 mt-16 xl:mt-18">
        <div class="max-w-3xl">
            <span class="inline-flex items-center font-medium relative text-amber-600 bg-amber-600/10 px-4 py-1.5 text-sm rounded-lg">Importante</span>
            <h2
              class="mt-2 text-2xl md:text-3xl lg:text-4xl font-semibold tracking-tight text-zinc-900 text-balance"
            >
              Fechas para Autores
            </h2>
            <p class="text-base mt-2 font-medium text-zinc-500">
              Explora el paso a paso desde hoy hasta que presentes tu manuscrito en IESTEC 2026.
            </p>
          </div>
          <ol
            class="h-full mt-12 border-l md:grid lg:grid-cols-4 md:gap-6 md:border-l-0 md:border-t border-zinc-100"
          >
            <li>
              <div class="flex items-center pt-2 md:block md:pt-0">
                <div
                  class="-ml-[5px] mr-3 h-[9px] w-[9px] rounded-full outline-2 outline-zinc-100 bg-zinc-100 md:-mt-[5px] md:ml-0 md:mr-0"
                ></div>
              </div>
              <div class="mt-4 ml-4 md:ml-0 lg:mr-4">
                <div>
                  <p class="text-sm relative font-semibold uppercase tracking-wide text-zinc-500">30 de marzo de 2026</p>
                  <h3 class="text-base mt-8 font-semibold tracking-tight text-zinc-900">
                    Recepción de artículos y pósteres
                  </h3>
                  <p class="text-base mt-2 text-zinc-500 lg:text-balance">
                    Our initial release introduced core features and lay the foundation
                    for innovation.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="flex items-center pt-2 md:block md:pt-0">
                <div
                  class="-ml-[5px] mr-3 h-[9px] w-[9px] rounded-full outline-2 outline-zinc-100 bg-zinc-100 md:-mt-[5px] md:ml-0 md:mr-0"
                ></div>
              </div>
              <div class="mt-4 ml-4 md:ml-0 lg:mr-4">
                <div>
                  <p class="text-sm relative font-semibold uppercase tracking-wide text-zinc-500">3 de julio de 2026</p>
                  <h3 class="text-base mt-8 font-semibold tracking-tight text-zinc-900">
                    Cierre de recepción de artículos y pósteres
                  </h3>
                  <p class="text-base mt-2 text-zinc-500 lg:text-balance">
                    Our initial release introduced core features and lay the foundation
                    for innovation.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="flex items-center pt-2 md:block md:pt-0">
                <div
                  class="-ml-[5px] mr-3 h-[9px] w-[9px] rounded-full outline-2 outline-zinc-100 bg-zinc-100 md:-mt-[5px] md:ml-0 md:mr-0"
                ></div>
              </div>
              <div class="mt-4 ml-4 md:ml-0 lg:mr-4">
                <div>
                  <p class="text-sm relative font-semibold uppercase tracking-wide text-zinc-500">24 de agosto de 2026</p>
                  <h3 class="text-base mt-8 font-semibold tracking-tight text-zinc-900">
                    Notificación de artículos y pósteres aceptados
                  </h3>
                  <p class="text-base mt-2 text-zinc-500 lg:text-balance">
                    Our initial release introduced core features and lay the foundation
                    for innovation.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="flex items-center pt-2 md:block md:pt-0">
                <div
                  class="-ml-[5px] mr-3 h-[9px] w-[9px] rounded-full outline-2 outline-zinc-100 bg-zinc-100 md:-mt-[5px] md:ml-0 md:mr-0"
                ></div>
              </div>
              <div class="mt-4 ml-4 md:ml-0 lg:mr-4">
                <div>
                  <p class="text-sm relative font-semibold uppercase tracking-wide text-zinc-500">18 de septiembre de 2026</p>
                  <h3 class="text-base mt-8 font-semibold tracking-tight text-zinc-900">
                    Recepcion de versión final de artículos y pósteres.
                  </h3>
                  <p class="text-base mt-2 text-zinc-500 lg:text-balance">
                    Our initial release introduced core features and lay the foundation
                    for innovation.
                  </p>
                </div>
              </div>
            </li>
          </ol>                   
    </div>
    
    <div class="max-w-xl mx-auto text-center lg:text-balance">
        <h2
          class="text-2xl md:text-3xl lg:text-4xl font-semibold tracking-tight text-zinc-900 lg:text-balance"
        >
          ¿Listo/a para ser autor/a de IESTEC 2026?
        </h2>
        <p class="text-sm mt-4 text-zinc-500 lg:text-balance">
          Aquí podrás encontrar toda la información necesaria. ¿Qúe vas a trabajar?
        </p>
      </div>
      <dl
        class="max-w-3xl mx-auto mt-10 text-left grid grid-cols-1 md:grid-cols-2 gap-4"
      >
        <div
          class="p-8 bg-linear-180 outline outline-zinc-100 from-zinc-100 to-zinc-200 rounded-xl"
        >
          <div>
            <dt>
              <h3
                class="text-lg md:text-xl font-semibold tracking-tight text-zinc-900"
              >
                Artículos de Conferencia
              </h3>
            </dt>
            <dd>
              <p class="text-base mt-2 text-zinc-600">
                Tailor it your way—whether you’re a pro or just figuring it out.
              </p>
            </dd>
          </div>
          <dd class="pt-4 mt-4 border-t border-zinc-200">
            <p class="text-sm text-sm text-zinc-500">
              Say goodbye to outdated tools and upgrade to a modern experience.
            </p>
          </dd>
          <button
          class="relative flex items-center text-center font-medium transition-colors duration-200 ease-in-out select-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:z-10 justify-center rounded-md text-white bg-blue-700 outline outline-blue-700 hover:bg-blue-600 focus-visible:outline-blue-600 h-10 px-5 text-sm shrink-0"
          >
            Descargar plantilla
        </button>
        </div>
        <div
          class="p-8 bg-linear-180 outline outline-zinc-100 from-zinc-50 to-zinc-100 rounded-xl"
        >
          <div>
            <dt>
              <h3
                class="text-lg md:text-xl font-semibold tracking-tight text-zinc-900"
              >
                Pósteres de Conferencia
              </h3>
            </dt>
            <dd>
              <p class="text-base mt-2 text-zinc-600">
                Easy to customize, simple to use, no expertise required.
              </p>
            </dd>
          </div>
          <dd class="pt-4 mt-4 border-t border-zinc-200">
            <p class="text-sm text-sm text-zinc-500">
              It just works. No manuals, no confusion—just productivity.
            </p>
          </dd>
        </div>
      </dl>
      <div class="flex flex-wrap items-center justify-center mt-8 gap-2">
        <button
          class="relative flex items-center text-center font-medium transition-colors duration-200 ease-in-out select-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:z-10 justify-center rounded-md text-white bg-zinc-900 outline outline-zinc-900 hover:bg-zinc-950 focus-visible:outline-zinc-950 h-10 px-5 text-sm shrink-0"
        >
          Ver más información
        </button>
        <button
          class="relative flex items-center justify-center text-center font-medium transition-colors duration-200 ease-in-out select-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:z-10 justify-center rounded-md text-white bg-blue-700 outline outline-blue-700 hover:bg-blue-600 focus-visible:outline-blue-600 h-10 px-5 text-sm shrink-0"
        >
          Get Windows version
        </button>
        <button
          class="relative flex items-center justify-center text-center font-medium transition-colors duration-200 ease-in-out select-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:z-10 justify-center rounded-md text-zinc-600 bg-zinc-50 outline outline-zinc-100 hover:bg-zinc-200 focus-visible:outline-zinc-600 h-10 px-5 text-sm shrink-0"
        >
          Get Linux version
        </button>
      </div>
      
</BaseLayout>