---
const sections = [
  {
    title: "All pages",
    links: [
      { name: "Home", href: "/" },
      { name: "FAQ", href: "/faq" },
      { name: "Terms", href: "/terms" },
      { name: "Privacy", href: "/privacy" },
      { name: "Sign up", href: "/signup" },
      { name: "Sign In", href: "/signup" },
    ],
  },
  {
    title: "Resources",
    links: [
      {
        name: "GitHub repo",
        href: "https://github.com/michael-andreuzza/astrosaas",
      },
    ],
  },
  {
    title: "More themes",
    links: [
      {
        name: "Lexington Themes",
        href: "https://lexingtonthemes.com/",
      },
    ],
  },
  {
    title: "Socials",
    links: [
      {
        name: "@lexingtonthemes",
        href: "https://x.com/lexingtonthemes",
      },
      {
        name: "@Mike_Andreuzza",
        href: "https://x.com/Mike_Andreuzza",
      },
    ],
  },
];
---

<footer>
  <div class="px-8 py-20 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="grid grid-cols-2 lg:grid-cols-4 items-start gap-x-8 gap-y-24">
      <div class="grid grid-cols-1 gap-4">
        <a href="/" class="text-black inline-flex items-center gap-2">
          <img src="iestec-10-logo-white.svg" alt="Logo" class="h-16"/>
        </a>
        <a href="/" class="text-black inline-flex items-center gap-2">
          <img src="iestec-10-logo-white.svg" alt="Logo" class="h-16"/>
        </a>
      </div>
      
      
      <div
        class="md:grid md:grid-cols-2 xl:grid-cols-4 md:gap-8 text-sm leading-normal text-white font-medium lg:col-span-3"
      >
        {
          sections.map(({ title, links }) => (
            <div class="mt-12 md:mt-0">
              <h3 class="text-lg font-medium tracking-tight">
                {title}
              </h3>
              <ul role="list" class="mt-4 space-y-1 text-gray-400">
                {links.map(({ name, href }) => (
                  <li>
                    <a href={href} class="hover:text-black">
                      {name}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</footer>
<footer class="">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-6"
  >
    <div class="">
      <a class="text-xs text-base-500 hover:text-accent-400 underline"  href="https://utp.ac.pa/"> © 2025 Universidad Tecnológica de Panamá 
      </a>
    </div>
  </div>
</footer>
