<section class="bg-gray-950">
  <div class="bg-gray-950 flex flex-col items-center justify-between w-full p-8 lg:px-24 text-center gap-8 lg:text-left lg:flex-row">
    <div class="justify-center w-full lg:justify-start">
      <img src="iestec-10-logo-white.svg" alt="Logo" class="h-16"/>
    </div>
  
    <nav aria-labelledby="footer-heading-0">
      <ul class="flex flex-col justify-center lg:flex-row gap-x-4 gap-y-2 text-white">
        <!--
        <li>
          <a
            class="text-base font-medium hover:text-blue-500"
            href="#_"
          >
            About
          </a>
        </li>
        <li>
          <a
            class="text-base font-medium hover:text-blue-500"
            href="#_"
          >
            Overview
          </a>
        </li>
        <li>
          <a
            class="text-base font-medium hover:text-blue-500"
            href="#_"
          >
            Pricing
          </a>
        </li>
        <li>
          <a
            class="text-base font-medium hover:text-blue-500"
            href="#_"
          >
            Blog
          </a>
        </li>
        -->
      </ul>
    </nav>
    <nav aria-labelledby="social-icons-heading" role="navigation" class="flex items-center justify-center w-full gap-4 text-zinc-500 lg:justify-end">
  
      <a
        class="text-white hover:text-blue-500"
        href="#_"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler-layout-brand-x size-4"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M4 4l11.733 16h4.267l-11.733 -16z"></path>
          <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path>
        </svg>
      </a>
    </nav>
  </div>

  <div class="mx-auto w-1/2 py-10 text-center text-sm">
    <span class="text-white">The Microsoft CMT service was used for managing the peer-reviewing process for this conference. This service was provided for free by Microsoft and they bore all expenses, including costs for Azure cloud services as well as for software development and support.</span>
  </div>
   

</section>

